{% extends 'default/index.html.twig' %}

{% block content %}
    <div class="content-wrapper">

        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Liste Publication</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header-->
                    <div class="card-body table-responsive p-0" style="height: 300px;">

                        <table class="table table-head-fixed text-nowrap">
                            <th>publication</th>
                            <th>commentaire</th>
                            <th>commenter par</th>
                            <th>date</th>
                            {% for publication in publications %}
                                <tr>
                                    <td>
                                        <img src="{{ asset('uploads/photos/'~publication.photo) }}" width="100" height="100">
                                    </td>

                            {% for commentaire in commentaires %}

                                   <td>{{commentaire.contenue }}</td>
                                   <td>{{ commentaire.idUser }}</td>
                                   <td>{{ commentaire.date|date('d-m-Y  ') }}</td>
                                   <td><a class="btn btn-danger" href="{{ path('delete_publication',{'id':publication.id})}}">Delete</a></td>

                            {% endfor %}
                            {% endfor %}
                        </tr>
                        </table>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>
        </section>
    </div>
{% endblock %}